@import 'libs/bootstrap-reboot.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/power';
@import 'blocks/haos';
@import 'blocks/help';
@import 'blocks/company';
@import 'blocks/about-us';
@import 'blocks/delivery';
@import 'blocks/safety';
