.promo {
    &__title {
        display: block;
        margin: 175px auto 0 auto;
        width: 830px;
        text-align: center;
    }
    &__wrapper {
        display: block;
        margin-top: 30px;
        text-align: center;
    }
    &__btn {
        margin: 0 8px;
    }
    &__background {
        display: block;
        margin: 88px auto 0 auto;
    }
    &__subbackground {
        display: block;
        margin: 36px auto 0 auto;
    }
}